.width {
  width: 270px !important;
}

.image {
  height: 360px !important;
}

.width div:nth-child(2) {
  width: 100%;
  height: auto;
}

.centerd {
  display: flex;
  justify-content: center;
}

.size {
  padding: 20px 10px;
}

.textH2 {
  font-size: 1rem;
}

.opacity {
  opacity: 0.6;
}

.fontWeight {
  font-weight: 500;
}

.bdiSize {
  font-size: 1rem;
}
