.wrapper {
  background-color: #ffffff;
  color: #111111;
}

.container {
  max-width: 1240px;
  min-height: 100vh;
  margin: 0 auto;
  height: auto;
}

.table {
  width: 100%;
  background-color: #ffffff !important;
}

.left {
  float: left;
  width: 50%;
  font-size: 18px;
}

.right {
  float: right;
  width: 50%;
  text-align: right;
  font-size: 18px;
  color: red;
}

.btn {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 40px;
  border: initial;
}
