.floatLabel {
  position: relative;
  /* margin-bottom: 12px; */
}

.label {
  color: #737070;
  font-size: 1rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 30px;
  top: 10px;
  transition: 0.2s ease all;
}

.labelFloat {
  padding: 0 6px;
  color: #737070;
  left: 20px;
  top: -12px;
  font-size: 14px;
  background: #fff;
}

.zIndex {
  z-index: 11;
}

.floatLabel input {
  height: 2rem;
}

.floatLabel div div input {
  height: 2rem !important;
}
