.bgWhite {
  background-color: #fff;
  border: 1px solid #edf2f9;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
}
.fixHeightDefault {
  overflow: auto;
  height: 100%;
}

.input_noneBorder {
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 8px 0;
}

.input_noneBorder span:focus {
  border: none;
}

.optionColor {
  display: flex;
  align-items: center;
}

.optionColor span {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 8px;
}

.growthFrame {
  border: 1px solid #edf2f9;
  border-radius: 6px;
  padding: 20px 10px;
  margin: 10px 0;
}
