.container {
  padding: 30px;
  width: 96%;
  margin: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.lstProduct {
  background-color: #eeeded;
  min-height: 300px;
  height: auto;
  margin-bottom: 20px;
}

.lstAccount {
  background-color: #eeeded;
  min-height: 100px;
  height: auto;
  padding: 20px;
  margin-bottom: 20px;
}

.blackDivider {
  background-color: black;
  height: 1px;
}

.infBill {
  background-color: #eeeded;
  min-height: 400px;
  height: auto;
  padding: 20px;
}

.font {
  font-size: 14px;
  font-weight: 600;
}
