.background {
  padding: 50px;
  height: auto;
  background-color: #ffffff;
}

.blackDivider {
  background-color: black;
  height: 1px;
}

.span {
  font-size: 16px;
  display: block;
  margin: 20px 0;
}

.timeLineEnd {
  margin-top: 20px;
  display: flex;
  margin-left: 700px;
}

/* YourComponent.css */

.btnHeader {
  position: relative;
}

.btnWarning {
  position: absolute;
  right: 10px;
  background-color: #f0ad4e;
  color: #fff;
  border-color: #eea236;
  border: none;
}

.btnWarning:hover,
.btnWarning:focus {
  background-color: #ec971f;
  border-color: #eea236;
  border: none;
  color: #fff !important;
  opacity: 1 !important;
}

.timeLine {
  width: 15% !important;
}
