.content {
  padding: 100px 0;
  background-color: #f8f6f3;
}

.spacing {
  padding: 0 10%;
}

.cardBody {
  padding: 20px;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #000;
}

.textH3 {
  font-size: 36px;
}

.textP {
  font-size: 1rem;
  color: #333333;
  margin-bottom: 20px;
}

.sizeBody {
  height: 400px;
  background-color: #fff;
  position: relative;
  padding: 20px 30px;
  border-radius: 8px;
}

.imageSize {
  width: 200px;
  padding: 20px;
}

.position {
  position: absolute;
  top: 48%;
  right: 20px;
}

.btn {
  width: 150px;
  height: 50px !important;
  font-size: 20px !important;
  font-weight: 500;
  background-color: rgb(47, 193, 255);
}

@media (max-width: 2100px) {
  .marginBetween {
    margin: 0 12px;
  }
}
