.displayFrame {
  animation: openFrames 0.5s ease;
}

.hideFrame {
  animation: closeFrames 0.5s ease;
}

/* animations */
@keyframes openFrames {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes closeFrames {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}
