.paddingTopAndBottom {
  padding-top: 15px;
  padding-bottom: 15px;
}

.paddingLeftAndRight {
  padding-left: 35px;
  padding-right: 35px;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
}

.background {
  background-color: #ffffff;
  border-bottom: 1px solid rgb(226 232 240);
}

.visible {
  top: 0;
  transition: top 0.3s ease-out;
}

.hidden {
  top: -80px;
  transition: top 0.3s ease-out;
}

.margin {
  margin-bottom: 0px !important;
}
