.sidebar {
  padding-top: 10px;
  background-color: #f9fbf9;
  height: 100%;
  border-right: 1px solid #2e4f4f;
  width: 25%;
  position: fixed;
  z-index: 999;
}

.styleSidebar {
  margin: 0 !important;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.logo img {
  width: 170px;
  height: 70px;
}
