.sideBar {
  background-color: white;
  border-right: 1px solid #edf2f9;
  overflow: auto;
}

/* logo */
.sideBar__Logo {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #edf2f9;
  height: 70px;
}
.sideBar__LogoImg {
  height: 100%;
}

.sideBar__menu {
  border-inline-end: none !important;
}
