.product__update,
.product__details {
  background-color: #fff;
  border: 1px solid #edf2f9;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
}
.product__update {
  margin-right: 5px;
}

.product__FormImg {
  position: relative;
  display: inline-block;
  padding: 12px;
}

.product__FormImgIcon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #edf2f9;
  color: #edf2f9;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  bottom: 4%;
  right: 42%;
}

.product__FormImgIcon:hover {
  opacity: 0.7;
  cursor: pointer;
}

.product__FormImg img {
  width: 100%;
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
}

.product__updateSelect {
  width: 100%;
}

.product__details {
  margin-left: 5px;
}

.product__updateButton {
  border: none;
  box-shadow: none;
}

.product__updateButton:hover {
  background-color: #e6f4ff;
}

.product__updateCreateButton {
  font-weight: 200;
  border-radius: 8px;
  font-size: 24px;
}

.product__updateButtonConfirm {
  background-color: #00b2ff;
  color: white !important;
}
