.link,
.hover {
  color: #000;
  transition-duration: 0.5s;
  padding: 0 !important;
  width: 100%;
  transition: all 0.3 ease;
  text-decoration: none;
}

.hover:hover {
  font-weight: 600;
  background-color: #e0e0e0;
  transform: translate(10px, 10px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.link:hover {
  cursor: pointer;
  color: #1450a3;
}

.open {
  background-color: red;
  color: red;
}

.lineHeight {
  margin: 0;
  line-height: 60px;
  position: relative;
}

.icon {
  margin-right: 20px;
  margin-left: 80px;
}

.iconRight {
  position: absolute;
  right: 0.5rem;
  top: 1.25rem;
}
