.link,
.hover {
  color: #000;
  transition-duration: 0.5s;
  padding: 0 !important;
  width: 100%;
  transition: all 0.3 ease;
  text-decoration: none;
}

.hover:hover {
  font-weight: 600;
  background-color: #e0e0e0;
  transform: translate(10px, 10px);
}

.link:hover {
  color: #1450a3;
}

.open {
  background-color: red;
  color: red;
}

.lineHeight {
  margin: 0;
  line-height: 60px;
}

.icon {
  margin-right: 20px;
  margin-left: 90px;
}
