.background {
  background-color: #101218;
  /* padding-top: 35px;
  padding-bottom: 30px; */
  padding: 0 5% 0 5%;
}

.backgroundCard {
  background-color: #4c5253;
}

.spacing {
  margin: 0;
}

.padding {
  padding: 7% 5%;
}

.sizeText {
  font-size: 24px;
}

.sizeText a {
  color: #fff;
}

.sizeText p {
  font-size: 16px;
  color: #fff;
}

.padding div {
  height: 60px;
}

/* background-color: var(--e-global-color-astglobalcolor3); */
