.createDiscount {
  top: 7rem;
  width: 70%;
  height: 80%;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 10px 0px 10px 20px;
}

.title {
  border-bottom: 1px solid #000;
  margin-bottom: 1rem !important;
}

.iconClose {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
}

.iconClose label:hover {
  cursor: pointer;
  color: rgb(212, 12, 12);
}

.spacing {
  padding: 0;
  margin: 0;
}

/* .createContent {
  max-height: 400px;
  max-width: 2000px;
  overflow-y: scroll;
} */

.createContent::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* Đã sửa lại thành 8px */
}

.createContent::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.createContent::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.createContent::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.createContent::-webkit-scrollbar-track:hover {
  background-color: #ddd;
}
