.profile {
  padding: 40px 0 80px 0;
}

.width {
  width: 80%;
}

.content {
  display: flex;
  justify-content: center;
}

.address {
  border: 1px solid #ccc;
}

@media (max-width: 500px) {
  .width {
    width: 100%;
  }
}
