.formContainer {
 

   text-align: center;
   
  }
  .container{
    /* margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px; */
    background-color: white;
    padding: 20px;
border: 1px solid #edf2f9;
border-radius: 4px;
  }
  .ten{
    /* padding: 12px;
    width: 100%; */
    
  }
  .create{
    text-align: center  ; 
   
}
.cmnd{
  margin-right: 10px;

}
.email{
  margin-right: 25px;

}
  
.sdt{

  margin-right: 25px;
}
.thanhpho{

  margin-right: 10px;

}
.quan{

  margin-right: 10px;

}.duong{
  margin-right: 10px;
}
.tt{

  margin-top: 5px;
  
}


.duong{
  margin-bottom: 60px;
}
/* .qrcodeContainer {
  display: flex;
  justify-content: flex-end;
}

.qrcode {
  width: 100px;
  height: 100px;
} */
.avatarContainer {
  margin-top: 20px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
