.content {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.textSize {
  font-size: 1rem;
}

.textColor {
  color: #111111;
}

.span {
  padding: 10px 16px;
}

.span:hover {
  cursor: pointer;
  transition: 0.3s linear;
  color: #39a7ff;
}

/* .active {
  border-bottom: 2px solid #39a7ff;
} */

.input {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 500px) {
  .textSize {
    font-size: 16px;
  }
  .span {
    padding: 10px 6px;
    flex-basis: 33.33333%;
  }
}
